<!-- shows form with possible answers to selected question -->
<form action="{% url 'polls:vote' question.id %}" method="post">
{% csrf_token %}
<fieldset>
    <legend><h1>{{ question.question_text }}</h1></legend>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    {% for choice in question.choice_set.all %}
        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
        <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
    {% endfor %}
</fieldset>
<input id=button type="submit" value="Vote">
</form>

<style>
label {
    color: black;
    font-family: sans-serif;
    font-size: larger;
}

#button {
    margin-top: 20px;
    margin-left: 10px;
    padding: 10px 25px 10px;
    background-color: blueviolet;
    border-radius: 10px;
    border-color: transparent;
    cursor: pointer;
}
</style>